
<div class="company-name">
<h2><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HousePark</h2>
</div>



<section class="login-auth-form">
  <div class="login-page">
    <div id="main-content" class="auth main-content" ng-submit="authVm.authenticate()">
      <div class="banner-wrapper registration-header" style="margin:auto;">
        <h4 style="text-align:center">Log In</h4>
      </div>
      <div class="container-fluid">
        <div class="login-wrapper">
          <div class="login-form clearfix">
            <form method="post" class="stacked-form">
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="text" name="EmailAddress" value="" placeholder="Email Address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="authVm.email" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="authVm.password" />
                </div>
              </div>
              <input type="submit" value="{{authVm.auth_btn}}" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="text-align:center">
<a href="/#/register">Register</a>
</div>
