<section id="base">
  <nav>
    <ul>
        <li>
            <i class="fa fa-home" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-user" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-usd" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-cog" aria-hidden="true"></i>
            <!-- <a ng-click="ctrl.logout()">Log out</a> -->
        </li>
    </ul>
  </nav>

  <div ui-view="" class="nested-view"></div>
</section>
