<div style="padding:7px;">

<a ng-click="ctrl.toUser()">Back to User Account</a>

<h4 style="text-align:center;">Property Details</h4>

<table class="table table-striped table-condensed cart-table" style="margin-top:20px;margin-bottom:20px;">

    <tr>
      <td><strong>Address</strong></td>
      <td>{{ctrl.house.address}}</td>
    </tr>
    <tr>
      <td><strong>Description</strong></td>
      <td>{{ctrl.house.description}}</td>
    </tr>
    <tr>
      <td><strong>Price</strong></td>
      <td>{{ctrl.house.price|currency:undefined:0}}</td>
    </tr>
    <tr>
      <td><strong>Rent</strong></td>
      <td>{{ctrl.house.rent|currency:undefined:0}}</td>
    </tr>
    <tr>
      <td><strong>Mortgage</strong></td>
      <td>{{ctrl.house.mortgage|currency:undefined:0}}</td>
    </tr>
    <tr>
      <td><strong>Tax</strong></td>
      <td>{{ctrl.house.tax|currency:undefined:0}}</td>
    </tr>
    <tr>
      <td><strong>Insurance</strong></td>
      <td>{{ctrl.house.insurance|currency:undefined:0}}</td>
    </tr>
  </table>



<a href="/#/edit_house/{{ctrl.house.id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit House</a>

<br>

<br>


<h4 style="text-align:center;">List of Repairs</h4>

<form class="form-inline" style="margin-bottom:18px;">

    <div class="form-group">
      <label for="search">Sort</label>

      <select ng-options="option.value as option.label for option in ctrl.maintSortOptions"  ng-model="ctrl.sort" class="form-control"></select>

    </div>
</form>


<a ng-click="ctrl.maintShow = !ctrl.maintShow"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Add a Maintenance</a>

<!-- Add a maintenance -->

<section class="new-home-maint" ng-hide="ctrl.maintShow">
  <div class="login-page">
    <div id="main-content" class="auth main-content">
      <div class="banner-wrapper registration-header">
        <h3>Add a Maintenance</h3>
      </div>
      <div class="container-fluid">
        <div class="login-wrapper">
          <div class="login-form clearfix">
            <form method="post" class="stacked-form">


<!-- description -->
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="description" name="Description" value="" placeholder="Description" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.maintenance.description" />
                </div>
              </div>


<!-- price -->
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Price" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="price" name="Price" value="" placeholder="Price" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.maintenance.price" />
                </div>
              </div>

<!-- Price -->
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="date" name="Date" value="" placeholder="Date" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.maintenance.date" />
                </div>
              </div>


              </div>
              <input type="submit" value="Add a Maintenance" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box" ng-click="ctrl.addMaintenance()"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- list of all the maintenances, where maintenence.house_id == $stateParams.houseId -->


<div style="padding:7px;">

<h4>List of Repairs:</h4>


<table class="table table-striped table-condensed cart-table" style="margin-top:20px;">
            <tr style="line-height:50px";>
              <th scope="col" class="col-md-4 cart-th">description</th>
              <th scope="col" class="col-md-4 cart-th">Price</th>
              <th scope="col" class="col-md-4 cart-th">Date</th>
            </tr>

            <tr ng-repeat="maintenance in ctrl.maintenances | filter:{month:ctrl.sort}">
              <td>{{maintenance.description}}</td>
              <td>{{maintenance.price|currency:undefined:0}}</td>
              <td>{{maintenance.date|date}}</td>
            </tr>
        </table>


<div style="background-color:white;">
<h4>This Month Rental Income/Loss:</h4>

<b><p style="color:green;">
{{ctrl.house.rent-ctrl.house.mortgage-ctrl.house.tax-ctrl.house.insurance-ctrl.monthlyMaintenancePrice[ctrl.sort]|currency:undefined:0}}
</p></b>
</div>

<br>

<br>

</div>

<!-- <p>Total Maintenance:</p>
{{ctrl.monthlyMaintenancePrice[ctrl.sort]|currency:undefined:0}}

<p>Other Expenses</p>
{{ctrl.house.mortgage + ctrl.house.tax + ctrl.house.insurance|currency:undefined:0}}

<br>
{{ctrl.house.rent}}

<br>
{{ctrl.house.rent - ctrl.monthlyMaintenancePrice[ctrl.sort]}}

</div> -->
