<section id="auth">
  <div class="login-page">
    <div id="main-content" class="auth main-content">
      <div class="banner-wrapper registration-header">
        <h3>Register</h3>
      </div>
      <div class="container-fluid">
        <div class="login-wrapper">
          <div class="login-form clearfix">
            <form method="post" class="stacked-form" ng-submit="authVm.register()">
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="name" name="Name" value="" placeholder="Name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="authVm.name" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="email" name="EmailAddress" value="" placeholder="Email Address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="authVm.email" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="authVm.password" />
                </div>

                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Re-type Password" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="authVm.repassword" />
                </div>
              </div>
              <input type="submit" value="{{authVm.register_btn}}" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
