<h4 style="text-align:center;margin-top:80px;">Landlord Details</h4>

<div class="landlord-card">
    <p>
      <span style='margin:auto;'
      " class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <br />
      <b>Name:</b> {{ctrl.user.name}}
      <br>
      <b>Email: </b> {{ctrl.user.email}}
      <br>
      <a ng-click="ctrl.logout()">Log out</a>
    </p>

</div>


<h4 style="text-align:center; margin-top:30px;">List of Properties</h4>



<h5 ng-click="ctrl.houseShow = !ctrl.houseShow" style="color:green">
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New
</h5>



<section class='login-auth-form' ng-hide="ctrl.houseShow">
  <div>
    <div id="main-content" class="auth main-content">
      <div>
        <h4 style="text-align:center;margin-bottom:15px;">Add New Property</h4>
      </div>
      <div class="container-fluid">
        <div class="login-wrapper">
          <div class="login-form clearfix">
            <form method="post" class="stacked-form">



<!-- Address -->
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="address" name="Address" value="" placeholder="Address" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.house.address" />
                </div>
              </div>


<!-- description -->
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="description" name="Description" value="" placeholder="Description" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.house.description" />
                </div>
              </div>

<!-- Price -->
              <div class="row">
                <div class="col-xs-12">
                  <span class="field-validation-valid" data-valmsg-for="Price" data-valmsg-replace="true"></span>
                  <input class="form-input bs-input-box stacked-input-box" type="price" name="Price" value="" placeholder="Price" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.house.price" />
                </div>
              </div>



<!-- Rent -->
            <div class="row">
              <div class="col-xs-12">
                <span class="field-validation-valid" data-valmsg-for="Rent" data-valmsg-replace="true"></span>
                <input class="form-input bs-input-box stacked-input-box" type="rent" name="Rent" value="" placeholder="Rent" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.house.rent" />
              </div>
            </div>


<!-- Morgage -->
            <div class="row">
              <div class="col-xs-12">
                <span class="field-validation-valid" data-valmsg-for="Mortgage" data-valmsg-replace="true"></span>
                <input class="form-input bs-input-box stacked-input-box" type="mortgage" name="Mortgage" value="" placeholder="Mortgage" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.house.mortgage" />
              </div>
            </div>


<!-- Tax -->
            <div class="row">
              <div class="col-xs-12">
                <span class="field-validation-valid" data-valmsg-for="Tax" data-valmsg-replace="true"></span>
                <input class="form-input bs-input-box stacked-input-box" type="tax" name="Tax" value="" placeholder="Tax" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.house.tax" />
              </div>
            </div>

<!-- Insurance -->
            <div class="row">
              <div class="col-xs-12">
                <span class="field-validation-valid" data-valmsg-for="Insurance" data-valmsg-replace="true"></span>
                <input class="form-input bs-input-box stacked-input-box" type="insurance" name="Insurance" value="" placeholder="Insurance" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.house.insurance" />
              </div>
            </div>



              </div>
              <input type="submit" value="Add a House" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box" ng-click="ctrl.addHouse()"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- list of all the houses, where user_id == userId -->







<table class="table table-striped table-condensed cart-table" style="margin-top:20px;">
            <tr style="line-height:50px";>
              <th scope="col" class="col-md-3 cart-th">Details</th>
              <th scope="col" class="col-md-3 cart-th">Address</th>
              <th scope="col" class="col-md-3 cart-th">Description</th>
              <th scope="col" class="col-md-3 cart-th">Price</th>

            </tr>

            <tr ng-repeat="house in ctrl.houses
            | filter: {user_id: ctrl.user.id}">
              <td><a href="/#/houses/{{house.id}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></td>
              <td>{{house.address}}</td>
              <td>{{house.description}}</td>
              <td>{{house.price|currency:undefined:0}}</td>
            </tr>
        </table>
